<div class="buttons">
    <div class="button" (click)="handleClick(7)">7</div>
    <div class="button" (click)="handleClick(8)">8</div>
    <div class="button" (click)="handleClick(9)">9</div>
    <div class="button" (click)="handleClick('-')">-</div>
    <div class="button" (click)="handleClick(4)">4</div>
    <div class="button" (click)="handleClick(5)">5</div>
    <div class="button" (click)="handleClick(6)">6</div>
    <div class="button" (click)="handleClick('+')">+</div>
    <div class="button" (click)="handleClick(1)">1</div>
    <div class="button" (click)="handleClick(2)">2</div>
    <div class="button" (click)="handleClick(3)">3</div>
    <div class="button" (click)="handleClick('*')">*</div>
    <div class="button" (click)="handleClick('.')">.</div>
    <div class="button" (click)="handleClick(0)">0</div>
    <div id="equal" class="button" (click)="handleClick('=')">=</div>
    <div class="button" (click)="handleClick('/')">/</div>
  </div>